ion-tab-bar{
   --background: rgb(49, 49, 49);
   border-radius: 10px 10px 0 0;
   padding-top: 10px;

   ion-tab-button{
    --color: rgb(255, 255, 255);

    ion-icon{
        font-size: 1.4rem;
    }
   }

}